In [1]:
import numpy as np
import pandas as pd

In [47]:
data1 = pd.read_csv('genres.csv', header=None, encoding = "ISO-8859-1")
data2 = pd.read_csv('genres2.csv', header=None, encoding = "ISO-8859-1")
data3 = pd.read_csv('genres3.csv', header=None, encoding = "ISO-8859-1")

In [51]:
data = pd.concat([data1, data2, data3])

In [61]:
data = data.reset_index(drop=True)

In [65]:
data.groupby(1)[0].nunique()

1
Action           79228
Adult            82286
Adventure        48539
Animation        65009
Biography        31409
Comedy          296890
Commercial           1
Crime            55860
Documentary     263942
Drama           410862
Erotica              1
Experimental         1
Family           62110
Fantasy          45113
Film-Noir          906
Game-Show         6113
Hardcore             1
History          27844
Horror           62658
Lifestyle            1
Music            69595
Musical          21292
Mystery          37900
News             16250
Reality-TV       17920
Reality-tv          45
Romance          78979
Sci-Fi           41369
Sci-fi               2
Sex                  1
Short           680756
Sport            26610
Talk-Show        13732
Thriller         79861
War              18563
Western          16111
Name: 0, dtype: int64

In [75]:
genres = pd.read_csv("train_genres.txt", sep = "\n", header = None)

In [76]:
plots = pd.read_csv("train_plots.txt", sep = "\n", header= None)

In [79]:
genres.head()

                             0
0                      Comedy
1                       Drama
2                     Western
3                       Drama
4  Adventure Animation Comedy

In [86]:
plots.head()

                                                   0
0  A stranded theatrical troupe manages to get ba...
1  While waiting at the bus stop for the woman he...
2  A dissatisfied ranch hand becomes a bounty hun...
3  Policeman Lasse rehabilitates young prisoners ...
4  Patricia and Isobelle O'Sullivan arrives at th...